{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-us">
<head>
	<!--  App Title  -->
	<title>Sharps Disposal Program</title>
	<!--  App Description  -->
	<meta name="description" content="Capture is a free bootstrap v3.3.2 app landing page perfect to present you IOS, android or windows application in an elegant way."/>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.transitions.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins">



	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/ajaxchimp.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/scrollTo.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/wow.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/nicescroll.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>


</head>
<body>


	<!--  Hero Section  -->
	<section class="hero" id="hero">
		<div class="container">
			<div class="container">
				<br>
				<div class="row">
					<div class="logo col-md-4">
						<div>
							<a href="">
								<img src="{% static 'images/logo.png' %}">
							</a>
						</div>
					</div>

			<div class="caption">
				<h4 class="text animated wow fadeInLeft" style="font-size: 36px;">Do you <b style="color:#F27707 !important;">CARD</b> your Sharps?</h4>
				<h1 class="text  animated wow fadeInLeft"><b style="color: #F27707 !important;">C</b><b>ontain</b> <b style="color: #F27707 !important;">A</b>nd <b style="color: #F27707 !important;">R</b>esponsibly <b style="color: #F27707 !important;">D</b>ispose</h1>

			</div>
		</div>
	</section>
	<!--  End Hero Section  -->




	<!--  Featured On Section  -->
	<section class="creative_feature_area" style="position: relative; height: 400px;">
		<div class="container_form" style="position: absolute; z-index: 2; top: -300px; left: 50%; right: -50%; transform: translate(-50%); ">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-1 col-md-10" style="background-color: white; box-shadow: 0px 0px 50px grey;">
						{% if messages %}
							<div class="alert alert-warning alert-dismissable fade in">
								<a href="./" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								{% for message in messages %}
										{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
										{{ message }}
								{% endfor %}
							</div>
						{% endif %}
						<div style="padding: 80px 50px 50px 50px;">
							<center><h1 style="color: #095AB5 !important;"><b>Request A Sharps Container, Today</b></h1><br>
						<p style="font-family: 'Raleway'; font-size:16px;">No purchase necessary. No cost to order.<br> Offer Available to California Residents Only</p>
						<br></center>
						</div>
						<div class="form">
							<form action="/" method="post" data-toggle="validator" style="padding: 0 115px 115px 115px;">
								{% csrf_token %}
								<div class="row">
									<div class="col-md-6 form-group">
									<input type="text" class="form-control" name="first_name" placeholder="First name" required><br>
									</div>
									<div class="col-md-6 form-group">
									<input type="text" class="form-control" name="last_name" placeholder="Last name" required><br>
									</div>
									<div class="col-md-6 form-group">
									<input type="text" class="form-control" name="street_address" placeholder="Street address" required><br>
									</div>
									<div class="col-md-6 form-group">
									<input type="text" class="form-control" name="city" placeholder="City" required><br>
									</div>
									<div class="col-md-6 form-group">
									<input type="number" min="90000" max="96199" class="form-control" name="zip_code" placeholder="Zipcode" required><br>
									</div>
									<div class="col-md-6 form-group">
									<input type="text" class="form-control" name="state" default="California" value="California" placeholder="California" readonly><br>
									</div>
									<div class="col-md-12 form-group">
									<input type="email" class="form-control" name="email_address" placeholder="Email" required><br>
									</div>
									<div class="col-md-12 form-group">
										<input type="submit" class="btn btn-primary" name="submit" value="Submit" style="width: 100%;">
									</div>
								</div>
							</form>
								{% csrf_token %}
							</div>
					</div>
				</div>
			</div>
			</div>

</section>
	<!--  End Featured On Section  -->

	<!--  About Section  -->
	<br>
	<br>
	<br>
	<br><br>
	<br><br>
	<br>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center animated wow fadeInLeft"  style="background-color: white; height: 750px; box-shadow: 0px 0px 50px grey;">
					<br><br>
					<br>
					<center>
					<b style="font-size: 50px !important;  font-family: 'Poppins'; font-weight: bold; color: #F27707;">C</b><b style="font-family: 'Poppins'; font-weight: bold; color: #095AB5; font-size: 42px !important;">ontain</b><br><br>
					<div style="font-family: 'Raleway'; font-size:18px;">Used sharps should ALWAYS be placed in a<br> strong, plastic container, that is sealed before<br> the container is disposed.*</div>
						<br>
						<div style="font-family: 'Raleway'; font-size:18px;">* If you do not have an FDA cleared container<br> made specifically to hold used sharps, a strong,<br> plastic container - like an empty laundry<br> detergent or bleach bottle - may also be used.</div>
						<br>
						<img src="{% static 'images/container.png' %}">
					</center>
				</div>
				<div class="col-md-6 text-center animated wow fadeInLeft" style="height: 750px; background-image: url('{% static "images/dispose_back.png"%}'); box-shadow: 0px 0px 50px grey;">
					<div class="iphone">
						<br>
						<br>
						<br>
							<b style="font-size: 50px !important;  font-family: 'Poppins'; font-weight: bold; color: #F27707;">A</b><b style="font-family: 'Poppins'; font-weight: bold; color: white; font-size: 42px !important;">nd</b><b style="font-size: 50px !important;  font-family: 'Poppins'; font-weight: bold; color: #F27707;"> R</b><b style="font-family: 'Poppins'; font-weight: bold; color: white; font-size: 42px !important;">esponsibly</b><b style="font-size: 50px !important;  font-family: 'Poppins'; font-weight: bold; color: #F27707;"> D</b><b style="font-family: 'Poppins'; font-weight: bold; color: white; font-size: 42px !important;">isposed</b>
							<br><br>
							<div style="font-family: 'Raleway'; font-size:18px; color: white;">Responsible disposal guidelines may vary by<br> location. </div>
								<br>
								<br>
								<div style="font-family: 'Raleway'; font-size:18px; color: white;">To learn more about your local guidelines and<br> to search for disposal centers near you, please<br> visit:</div>
								<br>
								<br>
								<br>
								<a href="http://www.SafeNeedleDisposal.org" class="btn btn-default btn-lg text animated wow fadeInLeft">
									<span "font-family: 'Raleway'; font-size:18px; color: white;">www.SafeNeedleDisposal.org</span>
								</a>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="about_video show_video">
			<a href="" class="close_video"></a>
		</div>
	</section>
	<!--  End About Section  -->


	<!--  Testimonials Section  -->
	<section class="testimonials animated wow fadeIn" id="testimonials" data-wow-duration="2s">
		<div class="container"  style="background-color: white; line-height: 26px; box-shadow: 20px 20px 50px grey; margin:0 auto;">
			<div class="testimonials_list">
				<p class="container">
					<br>
					<h1 style="font-family: 'Poppins'; font-weight: bold; color: #095AB5; font-size: 24px !important;">
						Disclaimer
					</h1>
					<br>
								<p style="font-family: 'Raleway'; font-size:16px; color: #141521; font-style: 'regular'">This sharps container is being provided at no additional cost to help sharps users better manage their home sharps disposal generation. Your personal information is important and will not be used for marketing purposes. This offer is not insurance. It is illegal for any person to sell, purchase, or trade or offer to sell, purchase or trade or to counterfeit this offer. This offer is void where prohibited by law, taxed or restricted. This offer is void if reproduced. This offer is not available to clubs, groups or organizations. You agree to comply with terms stated above. This offer limits one (1.4 quart) sharps container per household per 6 month period. This offer is valid for a limited time and expires 12/31/2018. This offer is available to California residents only. This offer may be rescinded, revoked or amended with or without notice by Becton, Dickinson and Company for any or no reason at any time. </p>

								<p style="text-align:center;"><img src="{% static 'images/logo2.png' %}"></p>

				</p>

			</div>
		</div>
	</section>
	<!--  End Testimonials Section  -->


	<!--  Footer Section  -->
	<footer>
		<p class="copyright animated wow fadeIn" data-wow-duration="1s" style="color: #095ab5; font-size: 16px; font-family: 'Raleway'; font-weight: 'bold';">All Rights Reserved</p>
	</footer>
	<!--  End Footer Section  -->

</body>
</html>
