<form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  Street address:<br>
  <input type="text" name="address"><br>
  City:<br>
  <input type="text" name="city"><br>
  Zip code:<br>
  <input type="text" name="zip"><br>
  State:<br>
  <input type="text" name="state" default="California" readonly><br>
  Email address:<br>
  <input type="text" name="email"><br>
  <input type="submit" name="submit">
</form>

{% csrf_token %}
